version: '3.8'
services:
  kind-cluster:
    container_name: "kind-cluster"
    build: kind_cluster/.
    ports:
      - "8001:8001"
    privileged: true
    volumes:
      - "./secret:/home/secret"
      - "./microservices-demo-master:/home/demo_app"
