Flask==1.1.2
Flask-Cors==3.0.10
keras==2.1.4
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
Pillow==8.1.1
pmdarima==1.8.0
prometheus-api-client==0.4.2
prometheus-client==0.9.0
requests==2.25.1
scikit-learn==0.24.1
scipy==1.5.4
sklearn==0.0
statsmodels==0.12.2
tensorflow==1.5.0
pyyaml==5.4.1
prometheus_flask_exporter
hmmlearn==0.2.5
APScheduler==3.7.0
